extends ../../layout/default.pug
include ../../mixins/dieu-huong.pug
include ../../mixins/them-moi.pug
include ../../mixins/khung-table.pug

block main
	+dieu-huong(`Danh sách ca sĩ`)

	+them-moi(`Thêm ca sĩ`, `/${admin}/singer/create`)

	+khung-table(`Danh sách các bài hát`)
		table(class=`text-text text-left w-full`)
			thead
				tr
					th
						div(class=``) Tên ca sĩ
					th
						div(class=`fa-regular fa-image`)
					th
						div(class=``) Giới tính
					th
						div(class=``) Trạng thái
			tbody
				- if(singers)
					each it in singers
						tr
							td
								div(class=`flex flex-col`) 
									div(class=``) #{it.fullName}
									div(class=`flex gap-[15px]`)
										a(href=`/${admin}/singer/edit/${it.id}` class=`fa-solid fa-pen-to-square text-xanh`) 
										a(href=`/${admin}/singer/delete/${it.id}` class=`fa-solid fa-trash text-do`) 
							td
								div(class=``)
									img(src=it.avatar, alt=it.title class=`h-[70px] aspect-[1/1] rounded-[10px] object-cover`)
							td
								div(class=``) #{it.topicTitle}
							td
								div(class=``) #{it.singerFullName}
							td
								- if(it.status && it.status == 'active')
									div(class=``) Hoạt động
								- if(it.status && it.status == 'inactive')
									div(class=``) Dừng hoạt động