extends ../../layout/default.pug
include ../../mixins/dieu-huong.pug
include ../../mixins/them-moi.pug
include ../../mixins/khung-table.pug

block main
	+dieu-huong("Chủ đề bài hát")

	+them-moi("Thêm chủ đề", `/${admin}/topic/create`)

	+khung-table("Danh sách chủ đề bài hát")
		table(class=`text-text text-left w-full`)
			thead
				tr
					th
						div(class=``) Tên chủ đề
					th
						div(class=`fa-regular fa-image`)
					th
						div(class=``) Trạng thái
			tbody
				each it in singers
					tr
						td
							div(class=`flex flex-col`) 
									div(class=``) #{it.fullName}
									div(class=`flex gap-[15px]`)
										a(href=`/${admin}/trash/singer/restore/${it.id}` class=`fa-solid fa-rotate-left text-xanh`)
										a(href=`/${admin}/trash/singer/delete/${it.id}` class=`fa-solid fa-trash text-do`)
						td
							div(class=``)
								img(src=it.avatar, alt=it.title class=`h-[70px] aspect-[1/1] rounded-[10px] object-cover`)
						td
							- if(it.status && it.status == 'active')
								div(class=``) Hoạt động
							- if(it.status && it.status == 'inactive')
								div(class=``) Dừng hoạt động