include ../mixins/box-sidebar.pug

aside(
	class=`w-1/4 h-screen overflow-y-auto invisible scoll-auto bg-adminColorMain text-adminColorMain flex flex-col gap-[10px] scrollbar duration-1000 select-none` 
)
	div(class=`sticky top-[0] bg-adminColorMain select-none flex justify-between items-center text-center h-[70px]`)
		a(href=`` class=`flex items-center justify-center w-full text-[25px] font-[800]  h-[70px] select-none`)
			img(src=`/${admin}/images/logo 2.svg`, alt="" class=`h-[40px] w-auto`)
	ul(class="flex gap-[10px] flex-col text-adminColorHeadline duartion-1000") 
		//- <i class="fa-solid fa-objects-column"></i> //trang 12
		+box-sidebar(`Tổng quan`, `/${admin}/main`, `fa-solid fa-grid-round-2`)

		+box-sidebar(`Bài hát`, '',  `fa-regular fa-music`)
			+box-sidebar(`Thêm bài hát`, `/${admin}/song/create`)
			+box-sidebar(`Danh sách`, `/${admin}/song`)
			+box-sidebar(`Chủ đề`, `/${admin}/song-category`)



		+box-sidebar(`Đăng xuất`, ``, 'fa-solid fa-arrow-left-from-bracket')(log-out = `/${admin}/auth/logout`)
